.header {
    display: grid;
    grid-area: h;
    grid-template-columns: 5fr 3fr;
    border-bottom: 1px solid rgb(63, 63, 63);
    background-color: rgba(255, 255, 255, 0.05);
    font-size: 20px;
}

.leftPart {
    display: flex;
    flex-direction: row;
}

.header .leftPart img {
    width: 55px;
    margin: auto 10px;
    padding: 5px;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
.heading {
    margin: auto 10px;
    color: gold;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Caveat', cursive;
}

.loginLink {
    margin: 20px;
    margin-left: auto;
    color: lightgray;
}

.loginLink a {
    color: white;
}

.logOut {
    margin: 0;
    margin-left: auto;
    padding: 0;
}

.logOut img {
    float: left;
    margin: 10px 25px;
    width: 10px;
    transform: scale(4.5);
    border-radius: 50%;
}

.logOut button {
    margin-left: 10px;
}