.preloaderProfile {
   position: relative;
   top: 100px;
   left: -400px;
   transform: scale(0.75);
}

.fotoLarge {
   position: relative;
}

.avatar img {
   position: absolute;
   left: 40%;
   bottom: -40px;
   display: block;
   border-radius: 50%;
   border: 3px solid black;
   outline: 2px solid white;
   width: 175px;
   height: 175px;
}

.mainInfo {
   width: 80%;
   text-align: center;
   margin: 40px auto;
   padding: 10px;
   display: flex;
   flex-direction: row;
   border-bottom: 2px solid grey;
}

.NameStatus {
   margin: 0 auto;
   padding: 10px;
   text-align: center;
}

.mainInfo h1 {
   min-width: 200px;
   margin: 10px 10px 0;
   padding: 10px;
   color: whitesmoke;
   /* border-bottom: 2px solid rgb(170, 170, 170); */
}

.personInfo {
   max-width: 500px;
   margin-left: 15px;
   padding: 10px;
   color: rgb(238, 197, 144);
   letter-spacing: 1px;
   font-weight: 700;
}

.personInfo .aboutMe {
   margin: 20px 10px;
}

.personInfo div, .personInfo b {
   padding: 10px;
}

.Edit button {
   padding: 10px 15px;
   font-size: 18px;
}