.item {
  color: white;
  font-weight: 700;
  margin-top: 15px;
  font-size: 16px;
}

.avatarMessage {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
}

.item img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.item .message {
  margin-left: 20px;
}

.likes {
  display: inline-block;
  margin-top: 10px;
  font-size: 18px;
}

.likes img {
  width: 16px;
  height: 16px;
  cursor: pointer;
  filter: grayscale(0%);
}

.likes img:hover {
  filter: grayscale(50%);
}

.likes img:active {
  filter: grayscale(0%);
}